  <div class="size-chart-container container js-size-chart-container">
    <button type="button" class="btn--plain icon feather-icon size-chart-close js-size-chart-close" aria-label="{{ 'general.accessibility_labels.close' | t }}">{% render 'feather-x' %}</button>
    <div class="size-chart-content large-section">
      <h2 class="reading-width large-row">{{ size_chart_page.title }}</h2>
      <div class="reading-width rte">{{ size_chart_page.content }}</div>
    </div>
  </div>
