<div class="relative container">
  <div class="page-width">
    {{ section.settings.custom_liquid }}
  </div>
</div>

{% schema %}
  {
    "name": "Custom Liquid",
    "tag": "section",
    "settings": [
      {
        "type": "liquid",
        "id": "custom_liquid",
        "label": "Custom Liquid"
      }
    ],
    "presets": [
      {
        "name": "Custom Liquid"
      }
    ]
  }
{% endschema %}
