<div class="container row large-row-under">
  <div class="reading-width">
    <h1 class="giant-title">{{ page.title }}</h1>

    <div class="rte rte--expanded-images clearfix row">
      {{ page.content }}
    </div>
  </div>
</div>
