<div class="container row">
  <div class="reading-width center large-row large-section">
    <h1 class="giant-title">{{ 'general.404.title' | t }}</h1>
    <p>{{ 'general.404.subtext' | t }}</p>
    <div class="large-row">
      <a href="{{ routes.root_url }}" class="btn btn--primary">{{ 'general.404.link' | t }}</a>
    </div>
  </div>
</div>
